<div class="Hero-footer">
    <div class="footer-Heading"><p>CodeCanvas</p></div>
    <div class="footer-content"><p>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> by Devang Thaker</p></div>

    <div class="styled-line"></div>

    <div class="footer-contects">
      <p class="footer-links">Contect with me through below links</p>
      <i class="fab fa-whatsapp footer-icons"></i>
      <i class="fab fa-instagram footer-icons"></i>
      <i class="fa fa-envelope footer-icons"></i>
    </div>
  </div>

</div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
<script>
  gsap.from('.Hero-text1', { y: -50, duration: 1, opacity: 0 });
  gsap.from('.Hero-text2', { opacity:0, duration:3, start:2 });
  gsap.from('.Hero-img-html', { x: 50, duration:1, opacity: 0 });
  gsap.from('.Hero-img-css', { x: 100, duration:1, opacity: 0 });
  gsap.from('.Hero-img-js', { x: 50, duration:1, opacity: 0 });
  

</script>
</html>