<%- include('partials/header') %>
    <div class="login-box">
 
        <form method="post" action="/">
            <h1>CodeCanvas</h1>
            <h4>Log In</h4>
          <div class="user-box">
            <input type="text" name="userName">
            <label>Username</label>
          </div>
          <div class="user-box">
            <input type="password" name="userPassword">
            <label>Password</label>
          </div><center>
          <a href="#">
            <button type="submit">SEND</button>     
             <span></span>
          </a>
          <p id="login-text">Forget password?</p> 
        </center>
        </form>
        <div class="icons">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-whatsapp"></i>
            <i class="fab fa-instagram"></i>
            </div>
      </div>





