<%- include('partials/header') %>
    <div class="login-box">
 
        <form method="post" action="/sign_up">
            <h1>CodeCanvas</h1>
            <h4>Register</h4>
          <div class="user-box">
            <input type="text" name="user_name" required="">
            <label>Fullname</label>
          </div>
          <div class="user-box">
            <input type="email" name="user_email" required="">
            <label>Email</label>
          </div>
          <div class="user-box">
            <input type="password" name="user_password" required="">
            <label>Password</label>
          </div><center>
          <button class="signup_btn" type="submit">
                 Register
             <span></span>
          </button>
          <p>Forget password?</p> 
        </center>
        </form>
        <div class="icons">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-whatsapp"></i>
            <i class="fab fa-instagram"></i>
            </div>
      </div>





